@import "bootstrap/dist/css/bootstrap.min.css";

.container{
    background: black;
    text-align: center;
}

.container div{
    margin: 2vh;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    padding: 5vh;
    line-height: 10vh;
    font-size: 15vh;
    color: white;
    background: #101010;
}